[submodule "pybind11"]
	path = third_party/pybind11
	url = git@github.com:pybind/pybind11.git
	branch = stable
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "third_party/autodiff"]
	path = third_party/autodiff
	url = git@github.com:autodiff/autodiff.git
[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third_party/matplotplusplus"]
	path = third_party/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus.git
[submodule "third_party/AI-Toolbox"]
	path = third_party/AI-Toolbox
	url = https://github.com/Svalorzen/AI-Toolbox
