astropy==6.1.0
auto_mix_prep==0.2.0
bpy==4.2.0a0
dataset==1.6.2
filterpy==1.4.5
h5py==3.11.0
mathutils==3.3.0
matplotlib==3.8.4
mlflow==2.13.0
mlflow_skinny==2.13.0
networkx==3.3
networkx==3.2.1
numba==0.59.1
numpy==1.26.4
onnx==1.16.1
openvino==2024.1.0
pandas==2.2.2
Pillow==9.3.0
Pillow==10.3.0
plotly==5.22.0
scikit_learn==1.5.0
scipy==1.13.1
setuptools==69.5.1
spiceypy==6.0.0
torch==2.4.0.dev20240527
torchvision==0.19.0.dev20240527
tqdm==4.66.4
