Pillow
cvxpy
gsplat
h5py
imageio
ipykernel
ipywidgets
kaleido
kornia
mathutils
matplotlib
mpld3
munch
mypy
open3d-python
nbformat
nerfstudio
numpy
opt-einsum
pandas
plotly
plyfile
evo
pre-commit
pyyaml
pytorch-lightning
pytorch-msssim
rasterio
requests
scikit-image
scikit-learn
scipy
scipy-stubs
segmentation-models-pytorch
pyvista
timm
transformers
tqdm
viser
fastapi
uvicorn
pytest
gtsam
astropy
pyproj
wandb
PyQt5
earthpy
