Pillow
cvxpy
h5py
imageio
ipykernel
ipywidgets
kaleido
mathutils
matplotlib
mpld3
munch
mypy
nbformat
numpy
pandas
plotly
pre-commit
pyyaml
requests
scikit-image
scikit-learn
scipy
scipy-stubs
tqdm
pytest
