torch
torchvision
pytorch-lightning
pytorch-msssim
transformers
timm
segmentation-models-pytorch
kornia
open3d-python
gsplat
viser
nerfstudio
cvxpy
opt-einsum
mathutils
rasterio
plyfile
requests
kaleido
mpld3
mypy
pre-commit
